/* start global rules  */
:root {
    --main-color: #10cab7;
    --secondry-color:#2c4755;
    --section-padding:60px;
    --secton-color:#f6f6f6; 
}
html {
    scroll-behavior:smooth;
}
/* components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
    text-decoration: overline;
    text-decoration-style:solid;
    -moz-text-decoration-style:solid;
}
.special-heading +p{
    color: #797979;
    margin: -30px 0 0;
    text-align: center;
    font-weight: 300;
}
@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px ;
    }
  .features .container  .feat:nth-child(2) {
        border-right: none;
        border-left: none;
        border-top: 3px solid #dddddd;
        border-bottom: 3px solid #dddddd;
    }
}
/* end components */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box ;
    -webkit-box-sizing:border-box ;
    -moz-box-sizing:border-box ;
    -ms-box-sizing:border-box ;
    -o-box-sizing:border-box ;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    color: black;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 15px;
    
}
/* small screens */
@media (min-width:768px) {
    .container {
        width:750px ;
    }
   

}
@media (min-width:667px ) and (max-width:989px) {
    .features .container  .feat:nth-child(2) {
        border-right: none;
        border-top: none;
        border-bottom: none;
}
}
/* medium screens */
@media (min-width:992px) {
    .container {
        width:970px ;
    }
   
}
/* large screens */
@media (min-width:1200px) {
    .container {
        width:1170px ;
    }
}
/* end-global-rules */
/* start- header */
/* end header */
header {
    padding: 10px;
    
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .logo {
    width: 60px;
}
header .links .icon {
    position: relative;
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
header .icon span {
    background-color: #333;
    height: 3px;
    width:100% ;
    margin-bottom: 5px;
}
.icon span:nth-child(2){
   width: 60%;
   transition: 0.3s;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.4s;
}
.links:hover .icon span:nth-child(2){
    width: 100%;
}
.links {
    position: relative;
}
.links ul {
    background-color: #eee;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    min-width: 200px;
    display: none;
    z-index: 100;
}
.links:hover ul{
    display: block;

}
.links ul::before {
    content: "";
    border-width: 15px;
    border-color: #ff000000 #0000ff00 #eeeeee #0000ff00;
    border-style: solid;
    position: absolute;
    top: -30px;
    right: 0;
}
.links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.links ul li a:hover {
    padding-left: 25px;
    background-color: rgba(51, 51, 51, 0.750);
    color: #10cab7;
}
.links ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
.landing {
    position: relative;
    background-image: url(../images/mountain.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 44px);
}
.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.intro-text h1 {
    color: #10cab7;
    margin: 0;
    font-weight: bold;
    font-size: 50px;
}
.intro-text p {
    font-size: 20px;
    line-height: 1.8;
}
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--secton-color);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}
.feat {
    padding: 20px;
    text-align: center;
}
.feat:nth-child(2) {
    /* box-shadow: 9px 8px 15px #0000002e; */
    /* box-shadow: 0px 10px 15px #0000002e; */
    border-right: 3px solid #ddd;
    border-left: 3px solid #ddd;
}
.container .feat i {

    color:var(--main-color,aqua);
}
.container .feat h3 {
    text-transform: capitalize;
    font-weight: 800;
    margin: 30px 0;
}
.container .feat p {
    line-height: 1.6;
    color: #777;
    font-size: 17px;
}
/* End features */
/* start services   */
.services {
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px) {
    .services .services-content .srv {
        flex-direction:column;
        text-align: center;
    }
}
.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}
.services .services-content .srv .text p {
    color: #888;
    font-weight: 500;
    line-height: 1.8;
} 
.services .services-content  .image {
    text-align: center;
    position: relative;
}
.services .services-content  .image img {
    width: 350px;
    height: 380px;
    object-fit: fill;
}
.services .services-content  .image::before {
    content:"";
    position: absolute;
    top: -50px;
    right: -45px;
    height: calc(100% + 100px);
    width: 100px;
    background-color: var(--secondry-color);
    z-index: -1;
}
@media (max-width:1199px) {
    .image-column {
        display: none;
    }
}
/* start portofolio */
.portofolio {
padding-top: var(--section-padding);
padding-bottom:var(--section-padding) ;
background-color: var(--secton-color);
}
.portofolio .portofolio-content {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 80px;
   
}
.portofolio .portofolio-content  img {
    max-width: 100%;
    max-height: 240px;
}
.portofolio .portofolio-content .info {
    padding: 20px;
}
.portofolio .portofolio-content h3 { 
    margin: 0;
}
.portofolio .portofolio-content .card .info p {
    line-height: 1.6;
    color: #777;
    margin-bottom: 0;
}
/* end portofolio */
/* start about */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
  }
  .about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .about .about-content {
      flex-direction: column;
      text-align: center;
    }
  }
  .about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
  }
  @media (max-width: 991px) {
    .about .about-content .image {
      margin: 0 auto 60px;
    }
  }
  .about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
  }
  .about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
  }
  @media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
      display: none;
    }
  }
  .about .about-content .image img {
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
  .about .about-content .text {
    flex-basis: calc(100% - 500px);
  }
  .about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
  }
  .about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
  }
  .about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
  }

/* end about */
/* start contact  */
.contact {
    padding-top: var(--section-padding);
    padding-bottom:var(--section-padding) ;
    background-color: var(--secton-color);
}

.contact .info {
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
}

.contact .info .label {
    color:var(--secondry-color);
    font-size:40px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 20px;
}
.contact .info .link {
    color: var(--main-color);
    font-size: 40px;
    text-decoration: none;
    margin-bottom: 10px;
}
.contact .info .social {
    color: #777;
    font-size: 16px;
    margin-top: 20px;
}
.contact .info .social i {
    margin-left: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
    color: var(--secondry-color);
}
.contact .info .social i:hover {
    color: var(--main-color);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
@media (max-width:767px){
    .contact .info .label {
        font-size: 20px;
    }
    .contact .info .link {
        font-size: 20px;
    }
    .contact .info .social {
        font-size: 10px;
    }
}
/* end contact  */
/* start footer */
.footer {
    background-color: var(--secondry-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
  }
  .footer span {
    font-weight: bold;
    color: var(--main-color);
  }
/* end footer */
